@import url(https://fonts.googleapis.com/css?family=Roboto:700);

html, body {
    margin: 0;
    padding: 0;
}

#btn {
    color: blue;
    font-weight: bold;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    border-color: rebeccapurple;
    border-style:inset;
    cursor: pointer;
}

div.form {
    margin: auto;
    position: absolute;
    top: 10%;
    left: 40%;
  }